<img src="../static/media/photos/travel/09048.jpg">

<h2>Me</h2>
<p>I am just a guy that has asperger's. I like taking photos, motorsports (F1 and WEC mostly), power transmission, planes, and Linux.</p>

{/website}
