<div><ul class="nobull">
  <li>{home}</li>
  <li>{me}</li>
  <li>{log}</li>
  <li>{links}</li>
</ul></div>

<div><span>Photos</span>
<ul class="nobull">
  <li>{Power}</li>
  <li>{Graemsay}</li>
  <li>{VLC}</li>
</ul></div>

<div><span>Meta</span>
<ul class="nobull">
  <li>{index}</li>
</ul></div>
