<div class="gallery">
  <img src="../static/media/photos/vlc/14717.jpg">
  <img src="../static/media/photos/vlc/14297.jpg">
  <img src="../static/media/photos/vlc/08636.jpg">
  <img src="../static/media/photos/vlc/06075.jpg">
  <img src="../static/media/photos/vlc/06010.jpg">
</div>
