:root {
    --dark-back: #061012;
    --dark-text: #8dddec;

    --light-back: #8dddec;
    --light-text: #061012;
}
* {box-sizing: border-box;}
html {font-size: 62.5%;}
body {
    display: grid;
    grid-template-rows: 5rem auto 4rem;
    grid-template-columns: 20rem 65rem auto;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
    background-color: var(--dark-back);
    color: var(--dark-text);
    font-family: serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
a {color: inherit;}
/* h1, h2, h3 {color: #2397da;} */
header {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-start;
}
header a {display: flex; align-items: center; text-decoration: none;}
header img {width: 3rem; margin-right: 1.5rem;}
header span {font-size: 3rem; font-weight: bold;}

nav {grid-row: 2/3; grid-column: 1/2;}
nav summary {margin-bottom: 1rem;}
nav .nav_links {margin-bottom: 2rem;}
nav div {margin-bottom: 3rem;}
nav ul {padding: 0; margin: 0;}
nav ul li:first-letter {text-transform: capitalize;}
nav span {font-size: 3rem; font-weight: bold;}

main {grid-row: 2/3; grid-column: 2/3;}
main > h1 {display: none;}
main > h2 {font-size: 3rem;}
main p {margin-top: 0; margin-bottom: 1.5rem;}
main img {width: 100%; padding-bottom: 1.5rem;}
main img.medium {max-width: 30rem;}
main img.small {max-width: 30rem;}
main > ul {margin-top: 0;}

footer {
    display: flex;
    grid-row: 3/4;
    grid-column: 1/-1;
    justify-content: end;
    border-top: 2px var(--col-white) solid;
    padding-top: 1.5rem;
}

.gallery {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}
.gallery img {height: 15rem; width: 100%; object-fit: cover; padding: 0;}

.error {background-color: crimson; padding: 1rem;}
.nodec {text-decoration: none;}
.nobull {list-style-type: none;}
.col2 {columns: 2;}
.cap:first-letter {text-transform: capitalize;}

@media (prefers-color-scheme: light) {
    body {background-color: var(--light-back); color: var(--light-text);}
}

@media screen and (max-width: 850px) {
    body {grid-template-rows: 5rem auto auto 4rem; grid-template-columns: 1fr;}
    nav {grid-column: 1/-1;}
    nav .nav_links {display: flex; width: 100%;}
    nav div {width: 33%; margin: 0;}
    main {grid-row: 3/4; grid-column: 1/-1;}
    footer {grid-row: 4/5; grid-column: 1/-1;}
    footer span {width: 50%;}
}
